@model IEnumerable<OnyeijeIgboAcademy.Models.Instructor>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Instructors</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Instructors" asp-action="Create">Create Instructor</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Instructors</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="Courses" asp-action="Index" class="btn btn-sm btn-neutral">View list of Courses</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
        <div class="col">

            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Instructors</h3>
                    @*<p class="text-sm mb-0">
                            This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
                        </p>*@
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                            <tr>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                
                                <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>  @Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>  @Html.DisplayFor(modelItem => item.SurName)</td>
                                    <td>  @Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>  @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    

                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.InstructorId">Update</a>
                                                <a class="dropdown-item" asp-action="Instructors Course" asp-route-id="@item.InstructorId">View Instructors Course</a>
                                                <form method="post" asp-controller="Instructors" asp-action="Delete" asp-route-id="@item.InstructorId">
                                                    <button class="dropdown-item" type="submit" onclick="return confirm('Are you sure you want to delete the Instructor @item.FullName')">Delete</button>
                                                </form>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
