@model IEnumerable<OnyeijeIgboAcademy.Models.Course>
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<section id="hero_in" class="courses">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Online courses</h1>
        </div>
    </div>
</section>
<!--/hero_in-->
<div class="filters_listing sticky_horizontal">
    <div class="container">
        <ul class="clearfix">
            <li>
                <div class="switch-field">
                    <input type="radio" id="all" name="listing_filter" value="all" checked onclick="all()">
                    <label for="all">All</label>
                    <input type="radio" id="beginner" name="listing_filter" value="popular" onclick="beginner()">
                    <label for="beginner">Beginner</label>
                    <input type="radio" id="intermediate" name="listing_filter" value="latest" onclick="intermediate()">
                    <label for="intermediate">Intermediate</label>
                    <input type="radio" id="advanced" name="listing_filter" value="advanced" onclick="advanced()">
                    <label for="advanced">Advanced</label>
                </div>
            </li>
            
        </ul>
    </div>
    <!-- /container -->
</div>
<!-- /filters -->

<div class="container margin_60_35">
    <div class="row">
        @if (Model.Count() > 0)
        {
            @foreach (var course in Model)
            {
              
        <div class="col-sm-3 col-lg-4 col-md-4">
            <div class="box_grid wow">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>

                    <a asp-action="CourseDetail" asp-controller="Courses" asp-route-id="@course.CourseId"><img src="~/uploads/@course.ImageUrl" class="img-fluid" alt="" style="width:1000px; height:270px"></a>
                    @if (course.IsFree == true)
                    {
                        <div class="price">FREE</div>
                    }
                    else
                    {
                        <div class="price">@course.Cost</div>
                    }

                    <div class="preview"><span>Preview course</span></div>
                </figure>
                <div class="wrapper">
                    <small>Title</small>
                    <h3>@course.CourseTitle</h3>
                    <p>@Html.Raw(course.Description)</p>
                </div>
                <ul>
                    <li><pre>Course Duration:  @ViewBag.duration</pre></li>

                    <li><a asp-action="CourseDetail" asp-controller="Courses" asp-route-id="@course.CourseId">Enroll now</a></li>
                </ul>
            </div>
        </div>
            }
        }
        else
        {
    <h2>O nweghi ihe oge a biko lee ma ghaa emechaa</h2>
        }


        <!-- /box_grid -->

    </div>
    <!-- /row -->

</div>
<script>
         function all() {
            location.href = '@Url.Action("Courses","Courses")';
          }
</script>
<script>
    function beginner() {
        location.href = '@Url.Action("BeginnerCourses","Courses")';
    }
</script>

<script>
      function intermediate() {
            location.href = '@Url.Action("IntermediateCourses","Courses")';
        }
</script>

<script>
         function advanced() {
            location.href = '@Url.Action("AdvancedCourses","Courses")';
        }
</script>